<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %}</title>
    {% block stylesheets '' %}
</head>
<body>
<div class="header">
    {% block header '' %}
    <div class="nav-menu">
        {% block menu '' %}
    </div>
</div>
<div class="body-content">
    <div class="body">
        {% block content '' %}
    </div>
</div>
{% block javascripts '' %}
</body>
</html>

