{% extends 'MXZPCGBundle::main.html.twig' %}
{% block content %}
    <h1>Choose classes you want to level up.</h1>
    {% form_theme form 'form_table_layout.html.twig' %}
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('characters_show', { 'id': entity.id }) }}">
                Back to the character
            </a>
        </li>
    </ul>
{% endblock %}